.App {
  text-align: center;
}

.GameBoard {
  width: 600px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

.Player, .Enemies, .Bullets {
  position: absolute;
}

.Player {
  width: 50px;
  height: 20px;
  background-color: blue;
}

.Enemies {
  width: 50px;
  height: 20px;
  background-color: red;
}

.Bullets {
  width: 5px;
  height: 10px;
  background-color: green;
}